/*----- CSS RESET -----*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*----- Layout, padding & margin -----*/
span{
  color: #efde1c;
}
.head{
  background-image: url(../Images/gilles-lambert-249996.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: #f7f7f7;
}
.feature-quote{
  background-image: url(../Images/joanna-kosinska-129039.jpg);
  min-height: 50vh;
  background-size: cover;
  background-position: top;
  text-align: center;
}
.feature-quote span{
  color:#ffffff;
}
.stretch{
  width: 100%;
  height:auto;
}
.feature-photo{
  background-image: url(../Images/charles-deluvio-351207.jpg);
  min-height: 60vh;
  background-size: cover;
  background-position: 54% 35%;
}
.feature-content{
  background-image: url(../Images/rhema-kallianpur-275251.jpg);
  min-height: 60vh;
  background-size: cover;
  background-position: 50% 0%;
}
/*----- Typography -----*/
body {
  font-family: 'Playfair Display', serif;
  font-size:22px;
  text-align: justify;
}
h1{
  font-size:2.7rem;
  text-align: center;
  font-family: 'Noto Serif', serif;
}
h2{
  font-family: 'Noto Serif', serif;
  text-align: center;
  font-size: 1.8rem;
}
footer{
  background-color: #4d5563;
  color: #ffffff;
}

footer p{
  padding:1.36rem;
}
footer h2{
  text-align: left;
  padding-left:1.36rem;
  padding-bottom:0rem;
  margin-bottom: 0rem;
  line-height: 1;
  margin-top: 1.5rem;
}

blockquote{
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 1.3rem;
  color: #6d6d6d;
}
.quote-section{
  height: 40vh;
}
.right{
  text-align: right;
}
.quote {
  color:#6d6d6d;
  font-size: 2rem;
  margin-top: -52px;
}
.quote-tag{
  color:#6d6d6d;
  text-align: right;
}
textarea,input{
  width:70%;
  margin: 1rem;
}







/*----- Universal Styles -----*/







/* header */
.head p{
  font-size:25px;
  text-align: center;
}
