/*----- CSS RESET -----*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*----- Layout, padding & margin -----*/
span{
  color: #efde1c;
}
.head{
  background-image: url(../Images/gilles-lambert-249996.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: #f7f7f7;
}
.feature-quote{
  background-image: url(../Images/joanna-kosinska-129039.jpg);
  min-height: 50vh;
  background-size: cover;
  background-position: top;
  text-align: center;
}
.feature-quote span{
  color:#ffffff;
}
.padded{
  padding:5% 10%;
}
.feature-photo{
  background-image: url(../Images/charles-deluvio-351207.jpg);
  min-height: 60vh;
  background-size: cover;
  background-position: 54% 35%;
}
.feature-content{
  background-image: url(../Images/rhema-kallianpur-275251.jpg);
  min-height: 60vh;
  background-size: cover;
  background-position: 50% 0%;
}
/*----- Typography -----*/
body {
  font-family: 'Playfair Display', serif;
  font-size:22px;
  text-align: justify;
}
h1{
  font-size:6rem;
  text-align: center;
  font-family: 'Noto Serif', serif;
}
h2{
  font-family: 'Noto Serif', serif;
  text-align: center;
  font-size: 2.5rem;
}
footer{
  background-color: #4d5563;
  color: #ffffff;
}

footer p{
  padding:1.36rem;
}
footer h2{
  text-align: left;
  padding-left:1.36rem;
  padding-bottom:0rem;
  margin-bottom: 0rem;
  line-height: 1;
  margin-top: 1.5rem;
  font-family: 'Changa One', cursive;
  font-size:4rem;
}

blockquote{
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 2rem;
  color: #6d6d6d;
}
.quote-section{
  min-height: 40vh;
}
.right{
  text-align: right;
}
.quote {
  color:#6d6d6d;
  font-size: 2rem;
  margin-top: -52px;
}
.quote-tag{
  color:#6d6d6d;
  text-align: right;
  margin-right:25%
}
textarea,input{
  width:70%;
  margin: 0.5rem;
  font-size: 4rem;
  border-radius: 3px;
  border:none;
  padding:0.5rem;
}
input[type=submit]{
  background-color:#efde1c;
  color:#ffffff;
  border-radius:3px;
  border:none;
}
@media only screen and (max-width: 768px){
  .tabletflip{
    flex-direction: column-reverse;
  }
  .tabletcentre{
    text-align: center;
  }

}





/*----- Universal Styles -----*/







/* header */
.head p{
  font-size:3rem;
  text-align: center;
}
